

body {
    color: grey;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    margin: 0;
    background-color: black;
}
#navbar {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}
.nav-btn {
    display: flex;
    margin: 0 1% 0 10%;
}

.nav-logo img {
    
    height: 50px;
}
.nav-item {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    justify-items: center;
    color: red !important;
}


a {
    text-decoration: none;
}


#header {
    display: flex;
    padding: 10px 60px;
    background-color: black;
    /*border-radius: 1.5%;*/
}

.head-img {
    width: 90%;
    /* border-radius: 18px; */
    /* height: 10; */
}
.head-h1 {
    font-size: 30px;
    font-style:oblique;
}

.head-h2 {
    font-size: 70px;
    color: #fff;
}

.head-h3 {
    font-size: 70px;
}

.head-p1 {
    font-size: 20px;
    margin-bottom: 45px;
}

#about {
    display: flex;
    padding: 10px 90px;
    /* background-color: black; */
    /*border-radius: 1.5%;*/
}

.head-2img{
    width: 100%;
    border-radius: 18px;
    /* height: 10; */
}

.about-s1 {
    font-size: 40px;
    color: white;
    font-style: inherit;
}

.about-s2 {
    font-size: 15px;
    margin-bottom: 45px; 
}

.about-c1 {
    font-size: 30px;
    color: white;
    font-style: italic;
}

.about-c2 {
    font-size: 15px;
    margin-bottom: 45px;
}

#hobbies {
    margin:10%;
    display: flex;
    justify-content: center;
    align-items: center;;
    border-radius: 20px;;
    background-color: rgb(18, 18, 19);
    
    
    /*border-radius: 1.5%;*/
}
.hobbies-img{
    display: flex;
    justify-content: center;
    align-items:center;
    display: block;
    /* margin:auto; */
    /* padding:2px; */
}



.head-3img{
    /* border-radius: 50%; */
    width:50%;
}


@media screen and (max-width: 480px) {
    #header {
        display: block;
    }

    .head-h2,
    .head-h1,
    .head-h3 {
        line-height: 60px;
        font-size: 40px;
    }
}

/* Header css ends */

/* About section css started */
#about {
    display: flex;
}

.about {
    margin: 5%;
    text-align: center;
}

.about-h1 {
    font-size: 60px;
    color: #fff;
}

.about-h2 {
    font-size: 30px;
}
.about-p1 {
    font-size: 20px;
}


.about-img {
    margin: 5%;
}

.about-icon {
    font-size: 30px;
    font-weight: 900;
}
@media screen and (max-width: 480px) {
    #about {
        display: block;
    }
}

/* About section css ends */

/* Footer section section css start */
#footer {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    /*border-radius: 5px;*/
    padding: 20px;
}
li {
    list-style: none;
    margin-bottom: 20px;
}

.fa-solid,
.fa-brands {
    font-size: 40px;
    margin-right: 5px;
}

ul {
    padding: 0;
}

@media screen and (max-width: 480px) {
    #footer {
        display: block;
    }
}
